@use "Variables";
@use "Animation";

.STYLESHIFT-Main {
	height: -webkit-fill-available;
	position: fixed;
	border: 1px #ffffff87 solid;
	border-radius: var(--Border-Radius);
	z-index: 10000;
	background: linear-gradient(-45deg, rgba(10, 10, 10, 0.8), rgba(43, 43, 43, 0.8));
	backdrop-filter: blur(100px);
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;

	*:not(.monaco-editor *) {
		border-radius: var(--Border-Radius);
		color: var(--Font-Color);
	}

	.monaco-editor .overflow-guard {
		border-radius: 10px;
	}

	.STYLESHIFT-Code-Editor {
		resize: vertical;
		overflow: hidden;
		padding: 5px;
		background: #ffffff52;
	}

	.STYLESHIFT-Close {
		width: 27px;
		height: 27px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: var(--Drag-Top-BG);
		border-radius: 1000px;
		margin-left: 5px;
		font-size: 12px;
		font-weight: 500;
		user-select: none;
	}

	.STYLESHIFT-Search {
		background: #ffffff38;
		border-radius: 20px;
		border: transparent;
		padding: 10px;
		font-size: 17px;
		margin-top: 3px;

		::placeholder {
			color: #ff8888;
		}
	}

	.STYLESHIFT-Category-Frame {
		gap: 10px;

		.STYLESHIFT-Add-Setting-Button {
			margin-top: -56px;
			transform: scaleY(0);
			opacity: 0;
		}

		&:hover .STYLESHIFT-Add-Setting-Button,
		.STYLESHIFT-Add-Setting-Button[selecting] {
			margin-top: 0px;
			transform: scaleY(1);
			opacity: 1;
		}
	}
}

.STYLESHIFT-Glow-Hover:hover {
	filter: brightness(1.4);
}

.STYLESHIFT-TopBar {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	user-select: none;
}

.STYLESHIFT-Drag-Top {
	width: 100%;
	height: 20px;
	text-align: center;
	background: var(--Drag-Top-BG);
	transition: 0.2s all;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	border-radius: 100px;
}

.STYLESHIFT-Scrollable {
	position: relative;
	overflow-y: auto;
	width: 100%;
	height: 100%;
	border-radius: var(--Border-Radius);
	transform: translateZ(0px);
	display: flex;
	flex-direction: column;
	gap: 10px;

	&[Left] {
		resize: horizontal;
		background: var(--Category-Left-BG);
	}

	::-webkit-scrollbar {
		width: 10px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: #888;
	}

	scrollbar-color: #888 transparent;
	scrollbar-width: thin;

	.STYLESHIFT-Category-Frame {
		background: var(--Setting-Frame-BG);
	}

	.STYLESHIFT-Category-Frame > .STYLESHIFT-Setting-Frame,
	.STYLESHIFT-Main-Setting-Frame {
		background: radial-gradient(
			at center top,
			rgba(255, 255, 255, 0.23),
			rgba(255, 255, 255, 0.1)
		);
	}
}

.STYLESHIFT-Highlight {
	transition: background 0.2s, border-color 0.2s;
	border-radius: 10px;
	position: fixed;
	border: 1px solid rgb(255, 255, 255);
	position: absolute;
	z-index: 1000;
	left: 0;
	top: 0;

	&:hover {
		background: #7cff7c4b !important;
		border-color: rgba(144, 255, 129, 0.8) !important;
	}
}

.STYLESHIFT-Editor {
	resize: both;
	overflow: auto;
	height: 80%;
	width: 30%;
}

textarea.STYLESHIFT-Selector-Text-Editor {
	height: 50px;
}

.STYLESHIFT-FillScreen {
	width: 100%;
	height: 100%;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10000;
	background: #000000a1;
}

.STYLESHIFT-Main .STYLESHIFT-Scrollable .STYLESHIFT-Category-Frame > .STYLESHIFT-Config-Frame {
	gap: 0px;

	.STYLESHIFT-Config-Button {
		--Config-Button-Size: 40px;

		transition: all 0.2s;
		opacity: 0;
		min-width: 0px;
		min-height: 0px;
		max-width: 0px;
		max-height: 0px;
		padding: 0px;
	}

	&:hover {
		gap: 10px;

		.STYLESHIFT-Config-Button {
			opacity: 1;
			min-width: var(--Config-Button-Size);
			min-height: var(--Config-Button-Size);
			max-width: var(--Config-Button-Size);
			max-height: var(--Config-Button-Size);
		}
	}
}

.STYLESHIFT-DropDown-Container {
	position: fixed;
	padding: 0px;
	height: auto;
	display: flex;
	z-index: 10000;
	gap: 5px;
	padding-block: 5px !important;
}

.STYLESHIFT-DropDown-Items {
	width: calc(100% - 10px);
	height: 30px;
	font-size: 13px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: radial-gradient(at center top, rgb(99, 99, 99), rgba(66, 66, 66, 0.5));
	color: rgb(255, 255, 255);
	border: #ffffff17 solid 1px;
	transition: all 0.2s;
}
