@use "Editor";

@keyframes glowing {
	0% {
		background-position: 0 0;
	}

	50% {
		background-position: 400% 0;
	}

	100% {
		background-position: 0 0;
	}
}

[STYLESHIFT-All-Transition] {
	transition: all 0.3s;
}

.STYLESHIFT-Category-Title {
	position: relative;
	width: calc(100% - 6px);
	font-size: 20px;
	padding-block: 5px;
	font-weight: 500;
	background: var(--Category-Title-BG);
	color: var(--Category-Title-Text-Color);
	text-align: center;
	border-radius: 100px;
	margin: 3px;
}

.STYLESHIFT-Left-Category-Title {
	width: calc(100% - 50px);
	font-size: 16px;
	padding-inline: 20px;
	padding-block: 5px;
	font-weight: 400;
	border-radius: 100px;
	margin-bottom: -10px;
	margin-left: 10px;
	transition: all 0.2s, transform 0.3s, opacity 0.3s;
	display: flex;
	align-items: center;
	height: 25px;

	&:hover {
		background: var(--Category-Left-Title-BG-Hover);
		transform: translateX(-10px);

		.STYLESHIFT-Left-Category-Text {
			color: var(--Category-Left-Title-Text-Color-Hover);
			font-weight: 500;
		}
	}

	&[Selected] {
		background: var(--Category-Left-Title-BG-Selected);
		transform: translateX(-10px);

		.STYLESHIFT-Left-Category-Text {
			color: var(--Category-Left-Title-Text-Color-Selected);
			font-weight: 500;
		}
	}
}

.STYLESHIFT-Left-Category-Text {
	color: var(--Category-Left-Title-Text-Color);
	width: 100%;
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.STYLESHIFT-Setting-Frame {
	width: auto;
	padding: 10px;
	display: flex;
	gap: 3px;
}

.STYLESHIFT-Config-Sub-Frame {
	border: white 1px dashed;
	background: #454545;
	align-items: start !important;

	.STYLESHIFT-Text-Main-Description {
		text-align: left !important;
	}
}

.STYLESHIFT-Collapse {
	overflow: hidden;
	width: -webkit-fill-available;
}

.STYLESHIFT-Button {
	--Button-Color: white;
	display: flex;
	align-items: center;
	padding: 10px;
	border: grey 1px solid;
	font-size: 15px;
	transition: all 0.2s;
	user-select: none;
	width: -webkit-fill-available;
	flex-direction: row;
}

.STYLESHIFT-Button:hover {
	filter: brightness(1.5) drop-shadow(2px 2px 3px black)
		drop-shadow(-2px -2px 3px rgba(255, 255, 255, 0.37));
	// background: white !important;

	.STYLESHIFT-Button-Text {
		// color: black !important;
		font-weight: 400;
	}
}

.STYLESHIFT-Button-Logo {
	height: 40px;
	margin-right: 10px;
}

.STYLESHIFT-Button-Text {
	display: flex;
	width: 100%;
}

.STYLESHIFT-Main > .STYLESHIFT-Setting-Frame {
	background: var(--Setting-Frame-BG);
}

.STYLESHIFT-Text-Main-Description {
	text-wrap: wrap;
	font-size: 17px;
}

.STYLESHIFT-Text-Editor {
	background: var(--Text-Editor-BG);
	color: white;
	width: auto;
	resize: vertical;
	height: 50px;
	font-size: 15px;
	padding: 10px;
	border-radius: 5px;
	white-space: nowrap !important;
	width: -webkit-fill-available;
	border: 1px gray solid;
}

.STYLESHIFT-Sub-Title {
	margin-block: 10px;
	font-size: 15px;
}

mark {
	background: rgb(250, 200, 250);
}

.NDel:hover {
	background: #41ffe5 !important;
}

.NUp:hover {
	background: #ffaf76 !important;
}

html {
	height: 100% !important;
}

#STYLESHIFTSET span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

#STYLESHIFTSET span:after {
	content: "\«";
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

#STYLESHIFTSET:hover span {
	padding-right: 20px;
}

#STYLESHIFTSET:hover span:after {
	opacity: 1;
	right: 0;
}

#STYLESHIFTHOVER {
	position: absolute;
	transition: all 0.2s;
	border-radius: 20px;
	height: 20px;
	width: calc(100% - 50px);
	top: 10px;
	left: 10px;
	color: white;
	text-align: center;
	font-size: 15px;
	background: rgb(255 255 255 / 18%);
}

#STYLESHIFTHOVER:hover,
#CloseButton:hover {
	background: rgba(255, 255, 255, 0.5) !important;
}

#STYLESHIFT {
	border-radius: 20px;
	transform: translateZ(0);
	overflow-y: scroll;
}

#STYLESHIFT .STYLESHIFTHoverButton,
#STYLESHIFT .STYLESHIFTHoverButton span {
	transition: all 0.2s;
}

#STYLESHIFT .STYLESHIFTHoverButton:hover {
	background: rgb(255, 255, 255) !important;
	color: black !important;
	border-color: black !important;
}

#STYLESHIFT .STYLESHIFTHoverButton:hover span {
	color: black !important;
	font-weight: 700;
}

.select {
	color: white;
	border-radius: 10px;
	background: rgb(33, 33, 33);
	text-align: center;
}

#STYLESHIFT .TextBox {
	background: rgb(33, 33, 33);
	width: 70px;
	color: white;
	border-radius: 10px;
	text-align: center;
	border: transparent;
	padding: 4px;
	box-shadow: 0px 0px 3px 0px #ffffff;
	margin: 10px;
	margin-right: 0px;
	margin-left: 5px;
}

#STYLESHIFTBG .ColorPick {
	width: 200px;
	border-width: 0px;
	background: transparent;
}

#STYLESHIFTBG .MainBox {
	display: flex;
	flex-direction: column;
	flex: 1;
	font-size: 10px;
	padding-inline: 10px;
	margin-block: 10px;
	border-radius: 20px;
	margin-top: 50px;
	align-items: center;
}

#STYLESHIFTBG .STYLESHIFTLeftText {
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 16px;
	width: 100%;
}

.ListBox {
	padding: 10px 15px 10px 20px;
	border-radius: 10px;
	background: #383838;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 1;
	font-size: 10px;
	margin-inline: 10px;
	margin-block: 10px;
}

#STYLESHIFTBG .SndBox {
	position: relative;
	padding: 10px;
	width: 100%;
	display: flex;
	align-items: center;
	flex: 1;
	font-size: 10px;
	margin-inline: -10px;
	margin-top: 20px;
	border-radius: 20px;
}

.DES {
	margin-inline: 10px;
	color: white;
	font-size: 15px;
}

.Reset:hover {
	background: white !important;
	color: black !important;
}

#STYLESHIFTBG {
	background: linear-gradient(-45deg, rgb(10, 10, 10), rgb(43, 43, 43));
	border-radius: 20px 20px 0px 20px;
	overflow: hidden;
	resize: both;
	padding-top: 40px;
	width: 755px;
	height: 600px;
	max-height: -webkit-fill-available;
	position: fixed;
	top: 56px;
	z-index: 2020;
	display: flex;
	flex-direction: row;
	min-width: 602px;
	min-height: 247px;
	box-shadow: #000000d6 0px 0px 20px !important;
}

#STYLESHIFTBG[OPEN="true"] {
	opacity: 1;
	transform: scale(1);
	pointer-events: unset;
}

#STYLESHIFTBG[OPEN="false"] {
	opacity: 0;
	transform: scale(0.9);
	pointer-events: none;
}

#STYLESHIFTBG[OPEN="Prepare"] {
	opacity: 0;
	pointer-events: none;
}

#STYLESHIFTBG textarea {
	padding: 10px;
	border-radius: 5px;
}

#STYLESHIFTBG,
#STYLESHIFTBG * {
	scrollbar-width: thin !important;
	scrollbar-color: #575757 transparent !important;
}

#NtSearch {
	position: absolute;
	width: -webkit-fill-available;
	height: 40px;
	top: 40px;
	border-radius: 20px;
	color: white;
	font-size: 20px;
	padding-left: 20px;
	background: rgb(255 255 255 / 18%);
	border: none;
	margin-right: 10px;
}

#NtSearch::placeholder {
	color: rgb(197, 197, 197);
	opacity: 1;
}

.NDel,
.NUp {
	transition: background 0.2s;
}

#STYLESHIFTLIST {
	overflow-y: scroll;
	margin-right: 10px;
	border-radius: 0px 20px 20px 0px;
	padding-right: 10px;
}

.ntdevarefont {
	color: white;
	padding: 10px;
	aspect-ratio: 1/1;
	height: 20px;
	background: brown;
	font-size: medium;
	text-align: center;
	display: flex;
	justify-content: center;
	border-radius: 10px;
	margin-left: 10px;
	transition: filter 0.2s;
	cursor: pointer;
}

.ntdevarefont:hover,
#ntAddFont:hover {
	filter: brightness(1.5);
}

#STYLESHIFT .ColorPicker::-moz-color-swatch {
	border: none;
	border-radius: 100px;
}

#STYLESHIFT .ColorPicker::-webkit-color-swatch-wrapper {
	padding: 0;
	border-radius: 100px;
}

#STYLESHIFT .ColorPicker::-webkit-color-swatch {
	border: none;
	border-radius: 100px;
}

#STYLESHIFT .ColorPicker {
	transition: all 0.2s;
	width: 50px;
	height: 50px;
	border-radius: 100px;
	background: transparent;
	border: none;
	box-shadow: 0px 0px 5px #ffffff57;
	padding: 0px;
}

#STYLESHIFT .ColorPicker:hover {
	transform: scale(1.1);
}

#STYLESHIFT .Select {
	color: white;
	background: #1a1a1a;
	border-radius: 20px;
	height: 30px;
	padding-left: 10px;
}

#STYLESHIFT input[type="file"]::file-selector-button {
	border-radius: 20px;
	background-color: black;
	color: rgb(255, 255, 255);
	border: 1px solid rgba(255, 255, 255, 0.5);
	padding: 10px;
	margin-right: 10px;
	transition: all 0.2s;
}

#STYLESHIFT input[type="file"]::file-selector-button:hover {
	background-color: white;
	color: black;
	transform: scale(1.1);
}

#STYLESHIFT .TextBox::placeholder {
	color: rgb(168, 168, 168);
	font-size: 16px;
}

#STYLESHIFTBG .HoverList[selected] {
	background: #ffffffd1;
	color: black !important;
	margin-left: 0px;
	font-weight: 700;
}

#STYLESHIFTBG .FontFrame {
	display: flex;
	width: -webkit-fill-available;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10px;
	background: #0000004f;
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #ffffff80;
}

#STYLESHIFTBG .FontTopFrame {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: -webkit-fill-available;
}

#STYLESHIFTBG .FontBottomFrame {
	width: -webkit-fill-available;
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#STYLESHIFTBG .FontBottomFrame {
	width: -webkit-fill-available;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#STYLESHIFTBG .Button {
	margin: 5px;
	font-size: 15px;
	color: white;
	background: #434343;
	padding: 10px;
	border-radius: 20px;
	border: 1px solid white;
	width: -webkit-fill-available;
	text-align: center;
}

#STYLESHIFTBG #AvailableFontFrame .AvailableFontButton:not(:last-child) {
	border-bottom: 1px solid #ffffff5c;
}

#STYLESHIFTBG #AvailableFontFrame .AvailableFontButtonGroup {
	background: #333333;
	border-radius: 20px;
	padding: 10px;
}

#STYLESHIFTBG #AvailableFontFrame .AvailableFontButtonGroup:not(:last-child) {
	margin-bottom: 10px;
}

#STYLESHIFTBG #STYLESHIFTRight {
	width: -webkit-fill-available;
	overflow: hidden;
}

#STYLESHIFTFullScreen {
	height: 100%;
	z-index: 2021;
	position: fixed;
	width: 100%;
	background: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(var(--blur-amount), 10px);
}

.STYLESHIFTTransition {
	transition: all 0.2s;
}

#STYLESHIFTTint {
	position: fixed;
	z-index: -9999;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: var(--bg-color);
	transition: background 1s;
}

/* #STYLESHIFT .STYLESHIFTSlider {
     position: relative;
     width: 90%;
     height: 10px;
     background-color: grey;
     border-radius: 5px;
     transition: all 0.2s;
}

#STYLESHIFT .STYLESHIFTSlider:hover {
     filter: brightness(1.5);
}

#STYLESHIFT .STYLESHIFTSlider-progress {
     width: 0;
     height: 100%;
     background: rgb(127, 93, 183);
     border-radius: 5px;
     position: absolute;
     top: 0;
     left: 0;
     transform-origin: left;
     z-index: 1;
}

#STYLESHIFT .STYLESHIFTSlider-thumb {
     width: 20px;
     height: 20px;
     background: white;
     box-shadow: 0px 0px 10px #000000ab;
     border-radius: 50%;
     position: absolute;
     top: 50%;
     transform: translate(-50%, -50%);
     user-select: none;
     z-index: 2;
} */

.STYLESHIFT-Main {
	@property --angle {
		syntax: "<angle>";
		initial-value: 0deg;
		inherits: false;
	}
}

@keyframes STYLESHIFT-spin-rainbow {
	from {
		--angle: 0deg;
	}
	to {
		--angle: 360deg;
	}
}

@keyframes STYLESHIFT-slide-rainbow {
	0% {
		background-position: 0px 0px;
	}
	50% {
		background-position: 400% 0px;
	}
	100% {
		background-position: 0px 0px;
	}
}

.STYLESHIFT-Category-Title-Rainbow::before {
	z-index: -1;
	width: 100%;
	height: 100%;
	position: absolute;
	top: -3px;
	left: -3px;
	content: "";
	border-radius: 100px;
	padding: 3px;

	// animation: 1s STYLESHIFT-spin-rainbow linear infinite;
	// background-image: conic-gradient(
	// 	from var(--angle),
	// 	red,
	// 	orange,
	// 	yellow,
	// 	green,
	// 	blue,
	// 	indigo,
	// 	violet,
	// 	red
	// );

	background: linear-gradient(
			45deg,
			rgb(255, 0, 0),
			rgb(255, 115, 0),
			rgb(255, 251, 0),
			rgb(72, 255, 0),
			rgb(0, 255, 213),
			rgb(0, 43, 255),
			rgb(122, 0, 255),
			rgb(255, 0, 200),
			rgb(255, 0, 0)
		)
		0% 0% / 400%;
	animation: 20s STYLESHIFT-slide-rainbow linear infinite;
}

.STYLESHIFT-Main {
	textarea {
		white-space: nowrap !important;
	}

	.STYLESHIFT-Scrollable,
	textarea {
		&::-webkit-scrollbar-track {
			background: transparent;
			border-radius: 10px !important;
		}

		&::-webkit-scrollbar-thumb {
			background: rgba(100, 100, 100, 1) !important;
			border-radius: 10px !important;
		}
	}

	.STYLESHIFT-Scrollable {
		&::-webkit-scrollbar {
			width: 6px !important;
			height: 10px !important;
		}
	}
	textarea {
		&::-webkit-scrollbar {
			width: 10px !important;
			height: 10px !important;
		}
	}

	* {
		user-select: none;
	}
}

.STYLESHIFT-Space {
	width: -webkit-fill-available;
}

/* Checkbox */

.STYLESHIFT-Setting-Frame[settingtype="Checkbox"] {
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.STYLESHIFT-Checkbox {
	font-size: 20px;
	appearance: none;
	min-width: 4em;
	height: 1.5em;
	background: rgb(33, 33, 33);
	border-radius: 3em;
	position: relative;
	cursor: pointer;
	outline: none;
	transition: all 0.2s;
	box-shadow: 0px 0px 3px 0px #ffffff;
	margin: 0px;

	&:hover {
		filter: brightness(2);
	}

	&:checked {
		background: var(--Theme-0);

		&:after {
			left: calc(100% - 1.5em) !important;
			transform: rotate(180deg) !important;
			filter: drop-shadow(0px 0px 10px black);
		}
	}

	&:after {
		position: absolute;
		display: flex;
		content: "❖";
		font-weight: 1000;
		width: 1.5em;
		height: 1.5em;
		border-radius: 50%;
		background: #fff !important;
		box-shadow: 0 0 0.25em rgb(0 0 0 / 30%);
		transform: scale(0.7);
		left: 0;
		transition: all 0.2s;
		justify-content: center;
		color: black !important;
	}
}

.STYLESHIFT-Number_Input {
	width: 50px;
	height: 15px;
	background: rgb(33, 33, 33);
	border: none;
	box-shadow: 0px 0px 3px white;
	padding-inline: 10px;
	padding-block: 5px;
	text-align: center;
	-moz-appearance: textfield;

	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
	}

	&:hover {
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: meter;
		}

		-moz-appearance: unset;
	}
}

.STYLESHIFT-Number_Slide {
	-webkit-appearance: none;
	appearance: none;
	width: calc(100% - 50px);
	cursor: pointer;
	outline: none;
	overflow: hidden;
	border-radius: 16px;
	height: 15px;

	&::-webkit-slider-runnable-track {
		height: 15px;
		background: #969696;
		border-radius: 16px;
	}

	&::-webkit-slider-thumb {
		appearance: none;
		height: 15px;
		width: 15px;
		background-color: #fff;
		border-radius: 50%;
		border: 2px solid var(--Theme-0);
		box-shadow: -1907px 0 0 1900px var(--Theme-0);
	}
}

.STYLESHIFT-Dropdown {
	width: 100px;
	justify-content: center;
}

.STYLESHIFT-Dropdown-Frame {
	align-items: center;
	gap: 10px;
}

.STYLESHIFT-Setting-Frame[settingtype="Color"] {
	width: 95%;
}

.STYLESHIFT-Color {
	-webkit-appearance: none;
	min-width: 50px;
	width: 50px;
	min-height: 50px;
	height: 50px;
	box-shadow: rgba(255, 255, 255, 0.34) 0px 0px 5px;
	transition: 0.2s;
	border-radius: 100px;
	background: transparent;
	border: transparent 0px;
	padding: 0px;
	transition: all 0.2s;

	&:hover {
		transform: scale(1.1);
	}
}

.STYLESHIFT-Color::-webkit-color-swatch-wrapper {
	padding: 0;
}

.STYLESHIFT-Color::-webkit-color-swatch {
	border: none;
}
